*{
    border: 1px solid black;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

nav{
    height: 50px;
}

section{
    height: 500px;
}

footer{
    height: 100px;
}
nav ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
}
nav ul li{
    margin-right: 20px;
    font-size: 20px;
  
}
nav ul li a{
    text-decoration: none;
}
.seccion1{
   background-image: url("../img/aprender-html.png");
   background-size: cover;
   background-position: center;
}

/* Media queries para pantallas pequeñas */
 @media (max-width: 768px){
    header h1{
        display: none;        
    }
    header{
        justify-content: space-around;
    }
    nav ul{
        justify-content: center;
    }

 }