body>div {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

form {
    border: 1px solid blue;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    padding: 10px;
}

form input {
    font-size: 30px;
    width: 80%;
}
button{
    font-size: 30px;
    margin:20px;
    padding: 10px;
    width: 82%;
    background-color: greenyellow;
    
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    body>div {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    
}