/* * {
    border: 1px solid black;
}
*/
header {
    height: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid blue;
}

.imgUser {
    height: 100%;
    border-radius: 50%;
}

.menuUser {
    display: none;
}

header>div {
    display: flex;
    width: 160px;
    flex-direction: column;
    align-items: center;

}
aside{
    width: 30%;
    border-right: 2px solid blue;
}
.asideMovil{
    display: none;
}
.contenedorPrincipal{
    width: 70%;
    padding: 20px;
}
main{
    display: flex;
    height: 80vh;
}

aside li{
    font-size: 40px;
    margin-top: 20px;
}
aside ul{
    list-style: none;
}
aside i{
    margin-right: 20px;
    width: 30px;
}
footer p{
    margin: 0;
}
footer{
    border-top:2px solid blue;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  tbody{
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  td i{
    margin-left: 20px;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .menuUser li:nth-child(2){
        margin-top: 20px;
    }
    aside{
        display: none;
    }
    .contenedorPrincipal{
        width: 100%;
    }
    .asideMovil{
        display: block;
    }
    main{
        flex-direction: column;
    }
    .asideMovil ul{
        display: none;
        list-style: none;
        padding-left: 0;
    }
    .asideMovil ul li{
        border-bottom: 2px dotted blue;
    }
    .asideMovil i{
        font-size: 30px;
        margin: 10px;
        margin-left: 20px;
    }
    *{
        border: none;
    }
}
