* {
    border: 1px solid black;
}

header {
    height: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.imgUser {
    height: 100%;
    border-radius: 50%;
}