* {
    border: 1px solid black;
}

header {
    height: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.imgUser {
    height: 100%;
    border-radius: 50%;
}

.menuUser {
    display: none;
}

header>div {
    display: flex;
    width: 160px;
    flex-direction: column;
    align-items: center;

}